<div class="container mt-5">
  <% @restaurants.each do |restaurant| %>
    <ul class="list-unstyled">
      <li><%= restaurant.name %></li>
      <p><%= link_to "View this restaurant", restaurant %></p>
    </ul>
  <% end %>

  <p><%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-primary" %></p>
</div>
